<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Add order</title>
</head>
<body>
<div th:if="${message}">
    <div th:text="${message}"></div>
</div>
<form th:action="@{/getOrder}" method="post">
    <div><label> Продукты : <input type="text" name="text"/> </label></div>
    <div><label> Номер телефона : <input type="tel" name="number"/> </label></div>
    <div><label> Списать бонусы : <input type="checkbox" name="bonus" value="bonus"></label></div>
    <div><input type="submit" name="pay" value="Оплатить"/></div>
</form>
</body>
</html>